<div id="notifications">
    <div id="successBox" class="alert alert-success" role="alert" style="display: none;">

    </div>
    <div id="loadingBox" class="alert alert-info" role="alert" style="display: none;">
        Loading...
    </div>
    <div id="errorBox" class="alert alert-danger" role="alert" style="display: none;">

    </div>
</div>